@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



.submit-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    border: none;
    border-radius: 15px;
    background-color: #f1d958;    
    padding: 10px 20px;
    transition: 0,3s;
}
.submit-btn:hover  {
    font-size:26px;
    background-color: rgba(250, 219, 44, 0.8)
}