@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*   Tags   */
body {
    background: #fffaee;
    margin: 0px;
}
button {
    cursor: pointer;
}

/*   Inputs   */
.text-box {
    border-radius: 20px;
    padding: 5px;
    background-color: #F6F1D6;
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    border-color: #2854c7;
    border-width: 3px;
}
.number-box {
    width: 10%;
    padding: 5px;
    border-radius: 20px;
    background-color: #F6F1D6;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    border-color: #2854c7;
    border-width: 3px;
}
.check-box {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.check-box input { 
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 38px;
}
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: #2854c7;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
} 
input:checked + .slider:before {
    transform: translateX(26px);
}
input:checked + .slider {
    background-color: rgb(170, 209, 245);
}

/*   Containers   */
.main-container {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
}
.main-content {
    width: 70%;
    height: 100%;
    display: flex;
  	flex-direction: column;
    content: space-between;
    overflow-y: auto;
}
.row {
    margin: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trow-right{
    height: 30px;
    margin: 30px;
    display: flex;
    justify-content: flex-end;
}
.trow-center {
    display: flex;
    justify-content: center;
    margin: 40px;
}

/*   TextTypes   */
.page-name {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #2854c7;
    margin: 30px;
}
.row-name {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #2854c7;
    margin: 0px 10px;
}
.table-name {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #2854c7;
}
.text {
    font-family: "Roboto", sans-serif;
    font-weight: 200    ;
    font-size: 20px;
}

/*   Botões   */
.yellow-btn {
    height: min-content;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 15px;
    background-color: #f1d958;    
    padding: 5px 10px;
    transition: 0,3s;
}
.yellow-btn:hover  {
    height: 35px;
    font-size: 20px;
    background-color: rgba(250, 219, 44, 0.8)
}